<!DOCTYPE html>
<html dir="rtl" lang="fa" ng-app="siteBuilder.public">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@@metatitle</title>
    <meta name="keywords" content="@@metakeywords" />
    <meta name="description" content="@@metadescription" />
    <meta property="og:title" content="@@title" />
    <meta property="og:description" content="@@metadescription" />
    <meta property="og:url" content="@@canonicalurl" />
    <meta property="og:site_name" content="@@config.title" />
    <meta
      property="og:image"
      content='@@image.format("{0}?m=crop&w=200&h=200&q=veryhigh")'
    />
    <meta name="twitter:url" content="@@canonicalurl" />
    <meta name="twitter:title" content="@@metatitle" />
    <meta name="twitter:description" content="@@metadescription" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"
    />
    <link rel="stylesheet" href="@@theme.fonts?family=persian" />
    <link rel="stylesheet" href="@@theme/static/css/cedarmaps.css" />
    <link rel="canonical" href="@@canonicalurl" />
    <!-- Add More...  -->
    @@config.verification
  </head>

  <body ng-class="{'no-scroll':no_scroll}">
    <!--Add navigation-->
    <include name="layouts/navigations/navbar.html" />
    <!--/navigation-->

    <if terms="@@user.admin">
      <div class="modal fade hidden" tabindex="-1" role="dialog" edit-dialog>
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">بارگذاری...</div>
        </div>
      </div>
    </if>
  </body>
</html>
